.main
  // width: 50%
  width: 100%
  max-width: 1000px
  box-sizing: border-box
  min-height: 500px 
  margin: auto
  min-width: 650px
  padding: 20px
  border: 1px solid #ccc
  border-radius: 8px
  box-shadow: 0px 2px 6px -2px #333
  .ButtonWrap
    display: flex
    justify-content: space-between
